
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

/*header start*/
.menu ul li a {
	text-align: right;
	padding: 0 !important;

  }
  .cnmain {
    padding-top: 40px;
 }
 .content h1{
	font-size:25px;
}
.content-text{
	margin: 25px 0;
}
/*content*/

.content {
    margin-bottom: 0px;
}
/*newsletter*/
.sign_up h1{
	    font-size: 22px;
	        margin-bottom: 25px;

}
.for_form{
      width: 260px;  
}
.for_form  input{
	width: 268px;
	    font-size: 16px;
	    padding: 10px 50px 5px 4px;
}
.for_form button{
	border: none;
	background-color: transparent;
	position: absolute;
	top: 7px;
    right: -15px;
}
/*load*/
.load {
    padding: 45px 0;
    /* border: 1px solid; */
}
/*footer*/
.footer {
    padding: 0px 0;
    /* background-color: #F0F0F0; */
}
.list ul li a{
	padding: 0px!important;
	font-size: 16px;
	color: #000000;
}

}
 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/
.menu ul li a {
	text-align: right;
	padding: 0 !important;

 }
 /*load*/
 .load {
    padding: 0 0 100px 0 !important;
    /* border: 1px solid; */
}

}
 

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*header start*/
.menu ul li a {
	text-align: right;
	padding: 0 !important;

  }
  /*load*/
  .load {
    padding: 50px 0 100px 0 !important;
    /* border: 1px solid; */
}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 



	
 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 



 }